body {
    background-color: #f8f1f1;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: grid;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}


header {
    display: flex;
    justify-content: center;
}

.nav-logo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.menu ul {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}

.menu li {
    display: inline;
    list-style: square;
    margin: 10px;
    padding: 0;
}

.menu a,
.contact-info a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: #f4acb7;
}

#about,
#projects,
#resume,
#contact {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.about {
    display: flex;
    align-items: center;
    width: 65%;
}

.about h2{
    color: #d5bdaf;
    font-weight: bold;
}

.about-text {
    padding: 10px;
    align-items: center;
}

.about-text img {
    border: solid 5px #d5bdaf;
    border-radius: 50%;
    width: 200px;
}

.project-text {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

.resume-context {
    padding-left: 30px;
    width: 60%;
}

.screenshot {
    align-content: center;
}
.screenshot img {
    max-width: 100%;
    width: 300px;
}

.project-info {
    text-align: justify;
    max-width: 300px;
}

.project-info a {
    text-decoration: none;
    color: #d5bdaf;
    font-weight: bold;
}

.project-info a:hover {
    color: #f4acb7;
}

.project {
    padding: 10px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info p {
    padding: 10px;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #f4acb7;
}

.contact-info a:hover {
    font-weight: bold;
}

@media screen and (max-width: 428px) {
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    h3 {
        font-size: 1rem;
    }
    
    p {
        font-size: .8rem;
    }

    .resume-context {
        padding: 10px;
        width: 90%;
    }

    .contact-info {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.1rem;
    }
    
    p {
        font-size: .9rem;
    }
}

@media screen and (max-width: 700px) {
    #about,
    #resume {
        justify-content: center;
    }
    .about,
    .project-text{
        display: grid;
    }

    .about-text {
        display: grid;
        justify-content: center;
    }
    .resume-context {
        justify-content: center;
        padding: 10px;
        width: 70%;
    }
}

.indiv-project {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.indiv-text {
    display: flex;
    width: 80%;
    justify-content: center;
}

.indiv-screenshot img {
    max-width: 100%;
    width: 400px;
}