body {
    background-color: #f8f1f1;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: grid;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

.nav-logo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.menu ul {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}

.menu li {
    display: inline;
    list-style: square;
    margin: 10px;
    padding: 0;
}

.menu a,
.contact-info a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: #f4acb7;
}



.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px 0 100px;
    min-width: 800px;
}

main {
    justify-content: center;
}

.projects,
.resume-portion {
    display: block;
    justify-content: center;
    min-width: 800px;
    margin-left: 100px;
}

.about h2{
    color: #d5bdaf;
    font-weight: bold;
}

.about-text {
    padding: 30px;
    align-items: center;
}

.about-text img {
    border-radius: 50%;
    width: 200px;
}

.project-text {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

.resume-context {
    padding-left: 30px;
    padding-bottom: 50px;
}

.screenshot {
    align-content: center;
}
.screenshot img {
    width: 300px;
}

.project-info {
    text-align: justify;
    max-width: 300px;
}

.contact-info {
    display: flex;
    margin-left: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.contact-info p {
    padding: 0 20px;
    margin: 0;
}

footer {
    display: flex;
    justify-content: left;
    background-color: #f4acb7;
}

.contact-info a:hover {
    font-weight: bold;
}